<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    
    <h3>Edit the listing</h3>

    <form action="/listings/<%=listing._id%>?_method=PUT" method="POST" >

        <input type="text" value="<%=listing.title%>" name = "listing[title]" >

        <br><br>

        <textarea name="listing[description]"><%=listing.description%></textarea>

        <br><br>
        <input  type ="text" value="<%=listing.image%>" name = "listing[image]">
        <br><br>
        <input type="number" value="<%=listing.price%>" name = "listing[price]">
        <br><br>
        <input type="text" value="<%=listing.country%>" name = "listing[country]">
        <br><br>
        <input type="text" value="<%=listing.location%>" name = "listing[location]">
        <br><br>
        <button>Add</button>
    </form>
</body>
</html>