
<%- layout("/layouts/boilerplate") %>
<body>
    

    <h2>Listing Detail</h2>

    <ul>
        <li><%=listing.title%></li>
        <li><%=listing.description%></li>
        <li>&#8377;<%=listing.price.toLocaleString("en-IN")%></li>
        <li><%=listing.location%></li>
        <li><%=listing.country%></li>
        
    </ul>

    <br>

    <a href="/listings/<%=listing._id%>/edit">Edit the Listing</a>

    <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST">
        <button>Delete  this  listing </button>
    </form>
</body>